@import "../variables";
@import "../mixins";

.meli-search {
  display: flex;
  background: $white;
  flex: 1;
  border-radius: $border-radius;
  height: 100%;
  padding: 0px 0px 0px 10px;
  &-query {
    flex: 1;
    border: 0;
    font-size: 18px;
    color: $black-600;
  }
  &-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $grey;
    border: 0px;
    width: 56px;
    border-radius: 0 4px 4px 0;
    .icon_search {
      display: block;
      @include image-retina("/images/ic_Search", "png", 18px, 18px, no-repeat, cover);
    }
  }
}
