
/* PALETA DE COLORES */

$primary-color: #FFE600; // Amarillo
$black-900: #333333;
$black-600: #666666;
$black-300: #999999;
$black-100: #d9d6d6;
$grey: #EEEEEE;
$white: #FFF;
$orange: #dc7b1c;
$accent-color: #2F83FE;
$green: #00a650;
$max-width: 960px;
/* Tamaños */

$border-radius: 4px;
$margin-one: 16px;
$margin_two: 32px;